In [33]:
# ! pip install pandas

Requirement already satisfied: pandas in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.22.0)
Requirement already satisfied: six>=1.5 in /Users/sina/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('./What_We_Watched_A_Netflix_Engagement_Report_2023Jan-Jun.csv')
df.head()

,Title,Available Globally?,Release Date,Hours Viewed
0,The Night Agent: Season 1,Yes,2023-03-23,"812,100,000"
1,Ginny & Georgia: Season 2,Yes,2023-01-05,"665,100,000"
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,"622,800,000"
3,Wednesday: Season 1,Yes,2022-11-23,"507,700,000"
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"503,000,000"

## Cleaning dataset

### Cleaning ": Season #" endings

In [36]:
import re
def clean_title(title):
    # Regular expression to find ": season #" and remove it
    new_title = re.sub(r':\s*season\s*\d+|:\s*chapter(\s*\d+(-\d+)?)?|:\s*volume\s*\d+|//\s*.*?($|\n)', '', title, flags=re.IGNORECASE)
    return new_title

In [41]:
df['Title'] = df['Title'].apply(clean_title)
df.head()

,Title,Available Globally?,Release Date,Hours Viewed
0,The Night Agent,Yes,2023-03-23,"812,100,000"
1,Ginny & Georgia,Yes,2023-01-05,"665,100,000"
2,The Glory,Yes,2022-12-30,"622,800,000"
3,Wednesday,Yes,2022-11-23,"507,700,000"
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"503,000,000"

In [38]:
df.to_csv('./result1.csv', index=False)

## Enriched dataset

API communication has done for collecting additional information on each movie title throygh OMDB API Key.

In [43]:
df = pd.read_csv('./data_enriched.csv')
df.head()

,Title,Available Globally?,Release Date,Hours Viewed,Year,Rated,Released,Runtime,Genre,Director,...,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,totalSeasons,Response
0,The Night Agent,Yes,2023-03-23,"812,100,000",2023–,TV-MA,23 Mar 2023,NaN,"Action, Drama, Thriller",NaN,...,2 nominations,https://m.media-amazon.com/images/M/MV5BODgzYm...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.5,"99,566",tt13918776,series,2.0,True
1,Ginny & Georgia,Yes,2023-01-05,"665,100,000",2021–,TV-14,24 Feb 2021,NaN,"Comedy, Drama",NaN,...,Nominated for 1 Primetime Emmy. 3 wins & 6 nom...,https://m.media-amazon.com/images/M/MV5BNmE3Mj...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.5,"77,563",tt10813940,series,2.0,True
2,The Glory,Yes,2022-12-30,"622,800,000",2022–,TV-MA,30 Dec 2022,NaN,"Drama, Mystery, Thriller",NaN,...,4 wins & 1 nomination,https://m.media-amazon.com/images/M/MV5BMjdlNW...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.1,"24,846",tt21344706,series,1.0,True
3,Wednesday,Yes,2022-11-23,"507,700,000",2022–,TV-14,23 Nov 2022,NaN,"Comedy, Crime, Fantasy",NaN,...,Nominated for 12 Primetime Emmys. 13 wins & 59...,https://m.media-amazon.com/images/M/MV5BM2ZmMj...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.1,"342,661",tt13443470,series,2.0,True
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"503,000,000",2023,TV-MA,04 May 2023,NaN,"Drama, History, Romance",NaN,...,Nominated for 3 Primetime Emmys. 4 wins & 15 n...,https://m.media-amazon.com/images/M/MV5BNWYwNz...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,7.4,"50,245",tt14661396,series,1.0,True

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18214 entries, 0 to 18213
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                18214 non-null  object
 1   Available Globally?  18214 non-null  object
 2   Release Date         4855 non-null   object
 3   Hours Viewed         18214 non-null  object
 4   Year                 13308 non-null  object
 5   Rated                9052 non-null   object
 6   Released             13065 non-null  object
 7   Runtime              11689 non-null  object
 8   Genre                13143 non-null  object
 9   Director             8446 non-null   object
 10  Writer               10288 non-null  object
 11  Actors               12955 non-null  object
 12  Plot                 12838 non-null  object
 13  Language             12921 non-null  object
 14  Country              13012 non-null  object
 15  Awards               8543 non-null   object
 16  Poster               12983 non-null  object
 17  Ratings              13308 non-null  object
 18  Metascore            3249 non-null   float64
 19  imdbRating           12525 non-null  float64
 20  imdbVotes            12846 non-null  object
 21  imdbID               13308 non-null  object
 22  Type                 13308 non-null  object
 23  totalSeasons         4333 non-null   float64
 24  Response             13308 non-null  object
dtypes: float64(3), object(22)
memory usage: 3.5+ MB

### Feature Extraction
extracting all features which we need for the model

In [78]:
training_df = df[['Title', 'Available Globally?', 'Hours Viewed', 'Released', 'Runtime', 'Genre', 'Language', 'Country', 'imdbRating', 'Type', 'totalSeasons', ]]
training_df.head()

,Title,Available Globally?,Hours Viewed,Released,Runtime,Genre,Language,Country,imdbRating,Type,totalSeasons
0,The Night Agent,Yes,"812,100,000",23 Mar 2023,NaN,"Action, Drama, Thriller",English,United States,7.5,series,2.0
1,Ginny & Georgia,Yes,"665,100,000",24 Feb 2021,NaN,"Comedy, Drama",English,United States,7.5,series,2.0
2,The Glory,Yes,"622,800,000",30 Dec 2022,NaN,"Drama, Mystery, Thriller",Korean,South Korea,8.1,series,1.0
3,Wednesday,Yes,"507,700,000",23 Nov 2022,NaN,"Comedy, Crime, Fantasy",English,United States,8.1,series,2.0
4,Queen Charlotte: A Bridgerton Story,Yes,"503,000,000",04 May 2023,NaN,"Drama, History, Romance",English,United States,7.4,series,1.0

In [79]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18214 entries, 0 to 18213
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                18214 non-null  object
 1   Available Globally?  18214 non-null  object
 2   Hours Viewed         18214 non-null  object
 3   Released             13065 non-null  object
 4   Runtime              11689 non-null  object
 5   Genre                13143 non-null  object
 6   Language             12921 non-null  object
 7   Country              13012 non-null  object
 8   imdbRating           12525 non-null  float64
 9   Type                 13308 non-null  object
 10  totalSeasons         4333 non-null   float64
dtypes: float64(2), object(9)
memory usage: 1.5+ MB

## Data Cleaning
Cleaning all rows and solve all null values

In [80]:
new_column_names = {'Title': 'movie_title',
                    'Available Globally?': 'available_globally',
                    'Hours Viewed': 'viewing_hours', 'Released': 'release_date',' Runtime': 'runtime','Genre': 'genre','Language': 'language','Country': 'country','imdbRating': 'imdb_rating','Type': 'type','totalSeasons': 'total_seasons'}

training_df = training_df.rename(columns=new_column_names)
# training_df = training_df.rename(columns={'viewing_time': 'viewing_hours'})
training_df.head()

,movie_title,available_globally,viewing_hours,release_date,Runtime,genre,language,country,imdb_rating,type,total_seasons
0,The Night Agent,Yes,"812,100,000",23 Mar 2023,NaN,"Action, Drama, Thriller",English,United States,7.5,series,2.0
1,Ginny & Georgia,Yes,"665,100,000",24 Feb 2021,NaN,"Comedy, Drama",English,United States,7.5,series,2.0
2,The Glory,Yes,"622,800,000",30 Dec 2022,NaN,"Drama, Mystery, Thriller",Korean,South Korea,8.1,series,1.0
3,Wednesday,Yes,"507,700,000",23 Nov 2022,NaN,"Comedy, Crime, Fantasy",English,United States,8.1,series,2.0
4,Queen Charlotte: A Bridgerton Story,Yes,"503,000,000",04 May 2023,NaN,"Drama, History, Romance",English,United States,7.4,series,1.0

In [81]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18214 entries, 0 to 18213
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         18214 non-null  object
 1   available_globally  18214 non-null  object
 2   viewing_hours       18214 non-null  object
 3   release_date        13065 non-null  object
 4   Runtime             11689 non-null  object
 5   genre               13143 non-null  object
 6   language            12921 non-null  object
 7   country             13012 non-null  object
 8   imdb_rating         12525 non-null  float64
 9   type                13308 non-null  object
 10  total_seasons       4333 non-null   float64
dtypes: float64(2), object(9)
memory usage: 1.5+ MB

In [91]:
training_df.isnull().sum()

movie_title               0
available_globally        0
viewing_hours             0
release_date           5149
Runtime                6525
genre                  5071
language               5293
country                5202
imdb_rating            5689
type                   4906
total_seasons         13881
dtype: int64

### available_globaly

Converting Yes/No to binary numbers 1/0

In [84]:
training_df['available_globally'] = training_df['available_globally'].map({'Yes': 1, 'No': 0})

In [86]:
training_df.head()

,movie_title,available_globally,viewing_hours,release_date,Runtime,genre,language,country,imdb_rating,type,total_seasons
0,The Night Agent,1,"812,100,000",23 Mar 2023,NaN,"Action, Drama, Thriller",English,United States,7.5,series,2.0
1,Ginny & Georgia,1,"665,100,000",24 Feb 2021,NaN,"Comedy, Drama",English,United States,7.5,series,2.0
2,The Glory,1,"622,800,000",30 Dec 2022,NaN,"Drama, Mystery, Thriller",Korean,South Korea,8.1,series,1.0
3,Wednesday,1,"507,700,000",23 Nov 2022,NaN,"Comedy, Crime, Fantasy",English,United States,8.1,series,2.0
4,Queen Charlotte: A Bridgerton Story,1,"503,000,000",04 May 2023,NaN,"Drama, History, Romance",English,United States,7.4,series,1.0

### viewing_hours

Converting formatted string to the int numbers

In [89]:
# Replace the commas and convert the column to integers
training_df['viewing_hours'] = training_df['viewing_hours'].str.replace(',', '').astype(int)